version: "3.8"

services:
  accommodation-monitor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: accommodation-monitor
    restart: unless-stopped
    volumes:
      - ./src/tokens.json:/app/src/tokens.json
      - ./.env:/app/.env
    environment:
      - TZ=Asia/Seoul
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
