services:
  web:
    image: kihoonbae/accommodation-monitor:web-develop
    ports:
      - '3200:3000'
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}
    restart: unless-stopped
    volumes:
      - /etc/ssl/rds/global-bundle.pem:/etc/ssl/certs/rds-global-bundle.pem:ro

  migrate:
    image: kihoonbae/accommodation-monitor:migrate-develop
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - /etc/ssl/rds/global-bundle.pem:/etc/ssl/certs/rds-global-bundle.pem:ro

  worker:
    image: kihoonbae/accommodation-monitor:worker-develop
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}
    restart: unless-stopped
    volumes:
      - /etc/ssl/rds/global-bundle.pem:/etc/ssl/certs/rds-global-bundle.pem:ro
