services:
  web:
    image: kihoonbae/accommodation-monitor:web-${IMAGE_TAG}@${IMAGE_WEB_DIGEST}
    ports:
      - '4000:3000'
    networks:
      - shared-network
    env_file:
      - ../.env.production
    restart: unless-stopped

  worker:
    image: kihoonbae/accommodation-monitor:worker-${IMAGE_TAG}@${IMAGE_WORKER_DIGEST}
    networks:
      - shared-network
    expose:
      - '3500'
    env_file:
      - ../.env.production
    restart: unless-stopped

networks:
  shared-network:
    driver: bridge
    external: true
    name: accommodation_monitor_shared_network
