services:
  web:
    image: kihoonbae/accommodation-monitor:web-develop
    ports:
      - '3200:3000'
    networks:
      - shared-network
    env_file:
      - ../.env.development
    environment:
      NODE_ENV: development
    restart: unless-stopped

  worker:
    image: kihoonbae/accommodation-monitor:worker-develop
    networks:
      - shared-network
    env_file:
      - ../.env.development
    environment:
      NODE_ENV: development
    restart: unless-stopped

networks:
  shared-network:
    driver: bridge
    external: true
    name: accommodation_monitor_shared_network
